# codegen folders
build/
c_generated_code/
codegen/
dig/
{*}/

# data and testing
data/
*.mat
examples/
test/

# auxiliaries
slprj/
*.asv
*.autosave
*.slxc
*.json
*.bak
stdout_temp
functions/poly_basis.m
postprocessing/compare_carmaker_and_nonlinear_model.m


# Carmaker
carmaker/Movie/
carmaker/SimOutput/
!/carmaker/Data/TestRun/ASR_AccelerateMuSuddenChange
!/carmaker/Data/Vehicle/Demo_IPG_CompanyCar_EV
